@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
}

.container {
  display: flex;
}

.section-1 {
  width: 100%;
  height: 100vh;
  background-color: rgb(26, 53, 81);
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-1-header {
  color: #c8d7f0;
  display: flex;
  /* border: 1px solid black; */
  padding: 30px;
  box-shadow: 0px 10px 10px 7px rgba(0, 0, 0, 0.4);
}

.header-text {
  width: 400px;
  margin-right: 30px;
  /* background-color: red; */
}

.name {
  font-size: 40px;
}

h2 {
  font-size: 18px;
  margin-bottom: 25px;
}

.description {
  font-size: 16px;
  letter-spacing: 1px;
  margin-bottom: 24px;
}

h3 {
  margin-bottom: 12px;
}

.skills {
  margin-bottom: 24px;
}
.skills a:link,
.skills a:visited {
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  padding: 4px 8px;
  margin-right: 10px;
  border: 0;
  border-radius: 10px;
  background-color: #2c455e;
  box-shadow: 0px 5px 3px 1px rgba(0, 0, 0, 0.2);
  color: #c8d7f0;
}

.socials {
  display: flex;
}

.socials img {
  display: inline-block;
}

.socials a {
  font-size: 16px;
  text-decoration: none;
  color: #c8d7f0;
  display: inline-block;
  margin-right: 12px;
  padding-left: 5px;
}

.socials a:hover {
  color: #f3e4d1;
  /* box-shadow: 0px 10px 3px 1px rgba(0, 0, 0, 0.2); */
}
.profile-picture {
  display: inline-block;
}
